.form {
  display: flex;
  gap: 12px;
  height: 76px;
  border: 1px solid var(--white-color);
  align-items: center;
  padding: 16px;
  background-color: var(--black-color);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post-input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  height: 33px;
  background: none;
  color: var(--white-color);
  width: 100%;
}

.post-button {
  width: 44px;
  height: 44px;
}
