:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 212px);
  position: relative;
}

:host::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 1) 100%
  );
}
