.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.button {
  margin-right: 166px;
  width: 174px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.settings-icon {
  width: 16px;
  height: 16px;
  color: var(--black-color);
}

.profile-body {
  display: grid;
  grid-template-columns: 1fr 340px;
  grid-gap: 64px;
  padding-top: 24px;
}

.subscriber-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.subscribers-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
}

.subscriber-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.to-subscriber-search {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white-color);
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: var(--black-color);
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translateY(-50%) translateX(-50%);
  }

  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
}

.subs-title {
  margin-top: 0;
}

.subs-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-info-wrapper {
  padding: 0 24px;
}

.subs-count {
  width: 26px;
  height: 18px;
  color: var(--black-color);
  background-color: var(--green-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
