.profile-card {
  padding: 32px 24px;
  border: 1px solid var(--white-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  cursor: pointer;
}

.profile-avatar {
  margin-right: 20px;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  overflow: hidden;
}

.main-info {
  display: flex;
  align-items: center;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 4px;
}

.profile-skills {
  gap: 4px;
}
