:host {
  display: grid;
  gap: 48px;
  grid-template-columns: 332px 1fr;
  padding: 24px;
  height: calc(100% - 48px);
}

.profile-form {
  display: grid;
  grid-gap: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--white-color);
  background: var(--black-color);
  padding: 32px;
}

.btns-wrapper {
  display: flex;
  gap: 20px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--white-color);
}

.logout-icon {
  color: var(--white-color);
  width: 44px;
  height: 44px;
}

.right-btns-wrapper {
  display: flex;
  gap: 20px;
}

.delete-icon {
  width: 44px;
  height: 44px;
}

.avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.name-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.name {
  margin: 0;
}

.divider {
  height: 1px;
  border-top: 1px dashed var(--white-color);
  margin-top: 32px;
}
