@import "fonts.scss";

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --primary-purple: #ae7aff;
  --white-color-rgb: 255, 255, 255;
  --transparent-white-color: rgba(var(--white-color-rgb), 0.75);
  --hover-color: #161616;
  --dark-shadow: 4px 4px 0 rgb(0, 0, 0, 0.4);
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  background-image: url(/assets/images/image-background.jpg);
  background-size: cover;
  font-family: "JetBrains Mono", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100dvh;
}

.skills-tag {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 4px 8px;
  border: 1px solid var(--white-color);
  display: inline;
  margin-right: 4px;
}

.button {
  width: 100%;
  border: none;
  background-color: var(--primary-purple);
  color: var(--black-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "JetBrains Mono";
  cursor: pointer;
  display: block;
}

.cancel-btn {
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.regular {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "JetBrains Mono";
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.tt-control-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  // font-family: "JetBrains Mono";
  display: block;
}

.tt-form-input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid var(--white-color);
  height: 33px;
  background: none;
  color: var(--white-color);

  &:focus-visible {
    outline: 1px solid var(--primary-purple);
  }
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-form-label-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--transparent-white-color);
}

.tt-textarea {
  height: 84px;
  resize: none;
}

.mb32 {
  margin-bottom: 32px;
}

.mb16 {
  margin-bottom: 16px;
}

.mt16 {
  margin-top: 16px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.mt32 {
  margin-top: 32px;
}
